SENSOR_GUI_HOSTNAME=<fully-qualified-domain-name-for-public-dns>
KAFKA_ZOOKEEPER_USER=kafka
KAFKA_ZOOKEEPER_PASSWORD=<random-password>
# Let's Encrypt staging server
ACME_SERVER=https://acme-staging-v02.api.letsencrypt.org/directory
# Let's Encrypt production server
#ACME_SERVER=https://acme-v02.api.letsencrypt.org/directory
ACME_EMAIL=email@example.com
